<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/games/addgamesform"
      >Add Games</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/addeventsform">Add Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/news/addnewsform">Add News</a>
  </li>
</ul>
<h1>Welcome Admin</h1>
