<h1>Events</h1>
<% for( let index = 0; index < events.length; index++ ) { %>
<div class="product">
  <h2 class="product-title"><%= events[index].title %></h2>
  <h2><%= events[index].description %></h2>
  <h2><%= events[index].venue %></h2>
</div>
<% } %>
