ul {
  color: rgb(0, 0, 0);
}
html {
  background-color: rgb(249, 231, 231);
}
#pics {
  padding-left: 150px;
}
#namemain {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  padding-left: 500px;
}
#namesec {
  font-weight: lighter;
}
#leftcolumn {
  width: 50%;
  padding-left: 250px;
}

#rightcolumn {
  width: 50%;
  padding-right: 200px;
}
#rightcolumn p {
  font-size: large;
}
#Contacts {
  padding-left: 40px;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}
p:hover {
  text-decoration: underline;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotfilled {
  height: 15px;
  width: 15px;
  background-color: #868585;
  border-radius: 50%;
  display: inline-block;
}
#bars {
  background-color: rgb(0, 0, 0);
}
